.input-group{
    display:flex;
    margin-bottom: $l-size;
    flex-direction:column;

    @media (min-width: $desktop-breakpoint) {
        flex-direction:row;
        margin-bottom: $m-size;
    }
}

.input-group__item {
    margin-bottom: $m-size; 
    margin-right: $s-size;
    @media(min-width: $desktop-breakpoint){
        flex-direction:col;
        margin: 0 $s-size 0 0 ; 
        margin-right: $s-size;
    }
}