
//color:
    $dark-grey: #333;
    $medium-grey: #666;
    $btn-green:#dfe166;
    $grey: #9a9eab;
    $pink: #EC96A4;
    $light-pink: #fefafa;
    $pink-head: #f5c8cf;
    $tint-grey: #dadada;
    
//Font-size
$font-size-large: 1.8rem;
$font-size-small: 1.2rem;


//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem;